.sc {
    background-color: white;
    border-radius: 16px;

    padding: 20px;
    display: flex;
    box-shadow: 0 0 5px rgb(68, 68, 68);
    height: 120px;
    width: 30%;
    margin: auto;
    margin-top: 20px;

}

.title {
    padding: 5px 15px;
    display: flex;
}


p {
    display: flex;
    color: grey;
    font-size: 10px;
}

