.main {
    width: 500%;
    max-width: 230px;
    background-color: hsl(0, 24%, 93%);
    border-radius: 16px;
    margin: auto;
    
    height: 240px;
    width: 80%;
    margin-top:20px;
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;
    
    margin: 10px;
    
}

.image {
    width: 80%;
    height:150px;
    
    border-radius: 20px;
    margin: auto;
}

.t {
    margin-top: 12px;
    display: flex;
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: sans-serif;
}

a:hover {
    color: yellow;
}