.box {
    background-color: white;
    border-radius: 16px;
    margin: 5px 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgb(68, 68, 68);
    padding: 20px;
    height:500px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
}

.title {
    
    display: flex;
    flex-direction: column;
  
}


.desc {
    color: black;
    overflow: hidden;
    font-size: 13px;
}

p {
    display: flex;
       
}

.img1{
    height: 400px;
    width: 90%;
    margin: auto ;

}